* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background: #1F2937;
}

.one,
.four {
    flex: 1;
    display: flex;
    color: white;
    justify-content: left;
}

.two,
.three {
    flex: 2;
    display: flex;
    color: white;
    justify-content: left;
}




.linkone,
.linktwo,
.linkthree {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.welcome {
    display: flex;
    background: #1F2937;
    height: 300px;
    
}


.welcomeone, 
.welcomefour {
    display: flex;
    flex: 1;

}

.welcometwo
{
    flex: 2;
}

.welcometwo {
    flex-direction: column;
    color: whitesmoke;
    text-align: left;
   
}

.welcometwoone,
.welcometwotwo,
.welcometwothree {
  
    vertical-align: bottom;

}

.welcometwoone {
    font-size: 48px;
    font-weight: 800;
    height: 100px;
}

.welcometwotwo {
    height: 40px;
    padding: 0px;
}

.button1 {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    font-size: 16px;
    background-color: #3882F6;
    color: whitesmoke;
    font-weight: bold;
}

.welcomethree {

    flex: 2;
    

}

img {
    
    max-width: 100%;
    margin-left: auto;
    margin-top: 50px;

}

.somerandom {
    font-size: 36px; 
    font-weight: 900;
    color: #1F2937; 
    text-align: center;
}

 .random1{   
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

 }


.cubes {
  
  
        width: 120px;
        height: 120px;
        border: 2px solid #1E88E5;
        background: white;
        border-radius: 10px;

      }

.random2{   
   
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    
     }   


.subtext {
  
    width: 120px;
    height: 120px;
    text-align: center;
    color: #1F2937; 

  }
